.navbar {
  height: 154px;
  width: 100%;
  box-shadow: 0px 4px 8px 0px #00000014;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 60px; */
  z-index: 10;
  .nav {
    width: 80%;
    height: 56px;
    top: 60px;
    left: 148px;
    display: flex;
    justify-content: space-between;
    nav {
      display: flex;
      width: 706px;
      height: 56px;
      gap: 56px;
      h1 {
        font-family: Cormorant Garamond;
        font-size: 46px;
        font-weight: 400;
        line-height: 55.71px;
        text-align: left;
      }
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        li {
          font-family: Cormorant Garamond;
          font-size: 24px;
          font-weight: 400;
          line-height: 22px;
          cursor: pointer;
          list-style: none;
          a {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
    ul {
      display: flex;
      /* width: 124px; */
      height: 52px;
      padding: 10px;
      gap: 20px;
      list-style: none;
      align-items: center;
      .icon {
        cursor: pointer;
        width: 30px;
        height: 35px;
      }
      .cart-icon {
        width: 35px;
        height: 35px;
      }
    }
  }
}


@media (max-width: 768px) {
  .navbar {
   display: none;
  }
 }